* {
    box-sizing: border-box;
}

.general-background {
    background-image: url(img/back.jpg);
    height: auto;
    width: auto;
}

.body {
    display: flex;
    font-family: rubik, helvetica, arial, sans-serif;
    font-size: 14px;
    line-height: 24.5;
    font-weight: 300;
    font-style: italic;
}

.general-block {
    display: flex;
    flex-direction: row;
    background: #e6eff4;
    margin: 5%;
    border-radius: 4px;
    border: 2px solid #e6eff4;
}

.general-left-block {
    padding: 20px;
    margin-top: 25px;
}

.body-table {
    line-height: 2;
    font-size: 80%;
    text-align: left;
    padding: 10px;
    margin: -10px 18px 0 20px;
    color: #2c56a0;
}

.body-table li {
    list-style-type: disc;
}

.body-table sup {
    font-size: 10px;
    color: #3a3a3a;
}

.body-table a {
    color: #2c56a0;
    text-decoration: none;
}

.body-table a:hover {
    text-decoration: underline;
    color: #3a3a3a;
}

.table-results {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-table h3 {
    margin-left: 10px;
    font-size: 12px;
    color: #3a3a3a;
}

.img_pencil {
    width: 40px;
    height: 35px;
    margin: 7px;
    padding: 8px;
    color: #2c56a0;
}

.title-button {
    display: block;
    flex-grow: 0;
    text-decoration: none;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.15px;
    text-transform: uppercase;
    padding: 10px 50px 10px 0;
}

.title-button img {
    width: 13px;
    height: 13px;
}

.body-table-background {
    display: flex;
    flex-direction: row;
    justify-content: center;
    line-height: 2;
    font-size: 12px;
    text-align: left;
    padding: 8px;
    margin: 10px;
}

.body-table-background a {
    font-size: 12.6px;
    line-height: 1;
    color: #2c56a0;
    font-style: normal;
    text-decoration: none;
    font-weight: 700;
}

.table-results-grey {
    background: rgb(227, 227, 227);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
}

.body-table-background a:hover {
    color: #152a4f;
    text-decoration: underline;
}

.body-table-background ul small a {
    font-size: 10px;
    font-weight: 400;
}

.image-block-table {
    display: flex;
    justify-content: left;
    flex-wrap: nowrap;
    padding: 5px 25px 5px 25px;
    margin: auto;
    height: 30px;
    align-items: baseline;
}

.image-block-table img{
    height: 20px;
    margin: 2px 2px 5px 2px !important;
}

.body-table-background li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style-type: none;
}

.date-company {
    font-weight: 400;
    display: flex;
    flex-direction: row;
    padding-left: 25px;
    flex-wrap: wrap;
}

.date-company small {
    display: flex;
    flex-direction: row;
}

.date-company small a {
    font-weight: 400;
    font-size: 10px;
}

.date-company sup a {
    font-weight: 400;
    font-size: 10px;
}

.raitings-company {
    font-weight: 400;
    padding-left: 25px;
}

.raitings-company a {
    font-weight: 400;
}

.raitings-company b {
    color: #3a3a3a;
}

