.main-part-two {
    font-family: rubik, helvetica, arial, sans-serif;
    font-size: 14px;
    line-height: 2;
}

.main-part-two a {
    text-decoration: none;
    color: #2c56a0;
}

.main-part-two a:hover {
    text-decoration: underline;
    color: #3a3a3a;
}

.main-part-game-process i {
    padding-left: 50px;
}

.art-content {
    font-family: rubik, helvetica, arial, sans-serif;
    display: flex;
    text-align: left;
    flex-direction: column;
}

.art-content h1 {
    border-bottom: 1px solid rgba(0 0 0 /0.4);
    font-size: 24px;
    font-weight: 500;
    color: #3a3a3a;
    padding: 6px 0;
    margin: 18px 0 9px 0;
}

.art-content h2 {
    font-size: 18px;
    font-weight: 500;
}

.main-part-purchase {
    display: flex;
}

.purchase_img {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 38px;
    float: right;
}

.purchase_img p {
    font-size: 12px;
    color: #3a3a3a;
    font-weight: 400;
}

.purchase_img a {
    color: #2c56a0;
}

.purchase_img a:hover {
    color: #152a4f;
    text-decoration: underline;
}

.main-part-player a{
    font-size: 12px;
}

.main-part-player {
    display: flex;
    overflow: auto;
}

.game-process-stiv {
    margin-right: 20px;
    margin-bottom: 16px;
    float: left;
}

.game-process-stiv-a {
    font-size: 12px !important;
}

.game-process-new-game {
    width: 375px;
    height:  211px;
    margin-bottom: 16px;
    margin-left: 20px;
    float: right;
}

.game-process-new-game p {
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    margin: -5px 0 10px 0;
}

.game-process-new-game i {
    padding: 0 0 0 0;
}

.player-description i {
    padding: 0 0 0 0;
}

.player-description a {
    font-size: 14px;
}
